.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .text-center{
    text-align: center;

  }
  .border-style{
   
    border:2px dashed rgb(182, 182, 178);
    border-left: none;
    border-right: none;
    
  }
  .btn-container{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 244px;
    gap: 10;
    padding: 21px 24px 21px 24px;
    margin: 32px 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
  }

  /* Nav Styles */

  header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  header nav a button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    gap: 24px;
    padding: 17px 24px;

  }
  header h3{
    font-size: 28px;
    font-weight: 800;
    text-align: left;
  }
  .banner{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: repeat;
    width: 1440px;
    height: 652px;
    top: 131px;
    bottom: 4462px;
    

  }
  .banner-title{
    padding: 32px 221px 0px 221px ;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;

  }
  .banner-description{
    padding: 0px 294px;
    font-size: 16px;
    font-weight: 400;
  }

  /* main section styles */
  

  .web-section{
    border-radius: 16px;
    background-color: white;
    gap: 10px;
    width: 1440px;
    height: auto;
    gap: 10px;
    text-align: center;
    padding: 0px 148px 0px 148px;
    

  }
  .web-dev{
    width: 946px;
    height: auto;
    background-color: rgba(13, 19, 33, 0.02);
    gap: 48px;
    padding: 80px 97px 80px 97px;
    
  }
  .web-dev-title{
    font-size: 32px;
    font-weight: 800;
  }
  .web-dev-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    padding: 0px 47px;
    height: 52px;
    width: auto;
    gap: 24;
    padding: 0;
    opacity: 0.7;
    
  }
  .web-dev-description-2{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    gap: 16;
    margin: 16px 0px;
    opacity: 0.7;
    padding: 0px;
    
    
  }
  .web-dev-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;

  }
  .first{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    gap: 32;
    padding: 48px;
  }
  .second{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    gap: 32;
    padding: 48px;
  }
  .third{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    gap: 32;
    padding: 48px;
  }
  .web-dev-subtitle{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;

  }
  .btn-secondary{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin: 32px 0px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    display: block;

  }

 

  /* Inspiration Styles */
  .inspiration{
    text-align: center;
    width: 1140px;
    height: auto;
    left: 148px;
    right: 152px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48;
    padding: 0;
    

  }

  .inspiration-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    width: auto;
    height: 37px;
    gap: 24;
    padding: 0;
    margin: 24px 0px;
  }
  .inspiration-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    width: 852px;
    height: 52px;
    gap: 24;
    padding: 0;
    margin: 24px 0px;
    opacity: 0.7;
    text-align: center;
  }
  .inspiration-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: auto;
    height: 380px;
    gap: 10;
    padding: 32px;
    margin: 48px 0px;

  }


  /* Next target styles */
  .next-target{

  }


  /* support Styles */ 

   main .support{
    width: 1140px;
    height: 313px;
    border-radius: 16px;
    background-image: url('../assets/handshake.jpg');
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
    padding: 64px 48px 64px 48px;
    gap: 32;
    margin: 0 150px 0 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
   }

   .support-title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 16px 0px;
  

   }
   .support-description{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    gap: 16;
    padding: 0;
    margin: 16px 0;
   }

   div .support-input{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: auto;
    text-align: center;
    gap: 10;
    padding: 19px 20px 19px 20px;
    margin: 0 16px;
   }
   div .support-input input[type="textarea"]{
    color:rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    width: 313px;
    height: 19px;
    gap: 10;
    padding: 19px 20px 19px 20px;
    border-style: none;

   }
   div .support-input input[type="submit"]{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 57px;
    gap: 10;
    padding: 17px 20px 17px 20px;
   }
  
  /* Footer Styles */

   footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px 32px 150px;
    gap: 32;
    margin: 32px 0px;
  }